* {
    padding: 0;
    margin: 0;
    border: light 1px red;
}

#root {
    background-color: #F4ECD6;
    width: 800px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.NavBar {
    background-color: #FF416C;
    width: 100%;
    text-align: center;
}

.Form {
    background-color: #FF416C;
    width: 40%;
    padding: 10px;
    font-weight: bold;
    font-size: 110%;
}